@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --errorRed: #c51a1a;
    --border-color: #9c94ad;
    --bg-color: #141414;
    --light: #cbcecf;
    --yellow: #f9c712;
    --blue: #003bf7;
    --sec-bg-color: #18191a;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
    color: var(--light);
}

#app {
    display: flex;
    flex-direction: column;
}

.hidden {
    scale: 0;
}

.shown {
    scale: 1;
}

.error {
    color: var(--errorRed);
    font-weight: 700;
    font-size: 20px;
    display: flex;
    border-style: solid;
    border-color: var(--errorRed);
    height: 8rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: var(--sec-bg-color);
    top: 50%;
    bottom: 50%;
    transition: all 0.5s ease-in;
    border-radius: 1rem;
    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.6rem
}