@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --errorRed: #c51a1a;
    --bg-color: rgb(20, 20, 20);
    --bg-color-dimmed: rgb(20, 20, 20, 0.8);
    --light: #cbcecf;
    --yellow: #f9c712;
    --blue: #003bf7;
    --sec-bg-color: #18191a;
    --light-pur: #9c94ad;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
    color: var(--light);
    transition: background-color .3s ease;
}

#app {
    display: flex;
    flex-direction: column;
}

.hidden {
    scale: 0;
}

.shown {
    scale: 1;
}

.error {
    color: var(--errorRed);
    font-weight: 700;
    font-size: 20px;
    display: flex;
    border-style: solid;
    border-color: var(--errorRed);
    height: 8rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: var(--sec-bg-color);
    top: 50%;
    bottom: 50%;
    transition: all 0.3s ease;
    border-radius: 1rem;
    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.6rem
}

.errorHeading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.errorHeading>* {
    font-size: 35px;
    margin: .5rem
}

.errorHeading>span.material-symbols-outlined {
    font-size: 45px;
}